
  /* Dashboard Styles */
  
  #form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  #form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  #form-container input, #form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
 #submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #submit-button:hover {
    background-color: #3e8e41;
  }
  
  .blog-post {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .blog-post h2 {
    margin-top: 0;
  }
  
  .blog-post p {
    margin-bottom: 20px;
  }
  
  